@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff; /* Blanc pour le fond */
  --foreground: #333333; /* Gris foncé pour les écritures */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ededed; /* Noir ou sombre pour le fond en mode sombre */
    --foreground: #121212; /* Gris clair pour les écritures en mode sombre */
  }
}

h1 {
  color: black; /* Harmoniser avec le schéma de couleurs */
}
body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
